<ul class="list-unstyled no-list-style list-inline list-socials">
	<li class="social-facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	<li class="social-twitter"><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	{{!-- <li class="social-google-plus"><a href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> --}}
	<li class="social-instagram"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	<li class="social-rss"><a href="{{@blog.url}}/rss/" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
</ul>