<!-- Twitter -->
<div class="sidebar-section">
    <h5 class="sidebar-heading text-uppercase"><span>Twitter</span></h5>
    <div class="sidebar-section-content tweets"></div>
</div>
<!-- /Twitter -->