<!-- Text -->
<div class="sidebar-section">
    <h5 class="sidebar-heading text-uppercase"><span>Text</span></h5>
    <div class="sidebar-section-content">
    	It's a suitable place for adding small info about your site or other important information. Here you can add any text or html snippet.<br>
		All widgets are reorderable. Also if you want to remove any widget from sidebar or footer then that is very simple and easy.
    </div>
</div>
<!-- /Text -->