<!-- Facebook -->
<div class="sidebar-section">
    <h5 class="sidebar-heading text-uppercase"><span>Facebook</span></h5>
    <div class="sidebar-section-content fb"></div>
</div>
<!-- /Facebook -->